* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: monospace;
  overflow-x: hidden;
}

.main {
  width: 100%;
  height: calc(100vh - 140px);
}

.header {
  background-color: #EF476F;
  display: flex;
  width: 100%;
  height: 40px;
  font-size: 2rem;
  text-transform: uppercase;
}

.nav {
  width: 100%;
  display: flex;
  font-size: 1.5rem;
  color: black;
  height: 30px;
  display: flex;
  justify-content: space-between;
  background-color: #bf4342;
  text-transform: capitalize;
}


.logo {
  width: 25%;

}

.titulo {
  width: 50%;
}

.item {
  font-size: 1.3rem;
}

.inicio {
  border: 1px solid blue;
  width: 25%;

}


#noticias {
  width: 20%;
}

.article {
  display: flex;
  height: 300px;
  background-color: #e0d5ad;
  text-transform: capitalize;
  text-align: justify;
  padding: 10px;
}

#n1 {
  width: 30%;
  padding: 10px;
}

#n2 {
  width: 30%;
  padding: 10px;
}

#n3 {
  padding-left: 10px;
  display: flex;
  width: 50%;
}

.columns1 {
  background-color: #118AB2;
  padding: 5px;
  width: 60%;
}

.columns2 {
  background-color: #e36414;
  width: 50%;
  padding: 5px;
}

.article2 {
  width: 100%;
  height: calc(100vh - 470px);
  display: flex;
}

.otherMenu {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.img {
  width: 40%;
}

#imagen {
  /* hago separación a la imagen del contenedor padre llamado img */
  padding: 30px;
  width: 100%;
  height: calc(100vh - 470px);
  object-fit: cover;
}

.n10 {
  background-color: blue;
  height: 30px;
  font-size: 1.8rem;
  text-align: center;

}

.n11 {
  width: inherit;
  background-color: red;
  flex-grow: 1;
  font-size: 1.8rem;
  position: relative;

}

#n11 {
  position: absolute;
  top: 50%;
  left: 50%;
  left transform: translate(-50%, -50%);
}

.last {
  background-color: rgb(199, 73, 94);
  display: flex;
  height: 50px;
}

.n12 {
  /* width: 50%; */
  background-color: aqua;
  width: 50%;
  font-size: 2rem;
  text-align: center;
}

.n13 {
  width: 50%;
  background-color: pink;
  font-size: 2rem;
  text-align: center;
}

footer {
  /* bottom: 0; */
  font-size: 3rem;
  padding-top: 20px;
  text-align: center;
  height: 100px;
  border: 1px solid red;
  text-transform: capitalize;
}